/*

* {
  box-sizing: border-box;
}

[class*="col-"] {
  float: left;
  padding: 15px;
}

.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}

@media only screen and (max-width: 600px) {
   {
    
  }
}

*/

.bodyHome {
	margin: 0;
	padding: 0;
	background-color: #2C2F33;
  background-size: 2500px;
  background-position-y: 73px;
  /*background-position-x: -500px;*/
  background-repeat: repeat-x;
  background-image:url('data:image/svg+xml;utf8,<svg viewBox="0 0 1356 500" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"><path fill="rgba(35, 39, 42, 1)" d="M 0 50 C 1 50 0 167 1 167 L 1 167 L 1 0 L 0 0 Z" stroke-width="0"></path> <path fill="rgba(35, 39, 42, 1)" d="M 0 167 C 30 167 0 46 30 46 L 30 46 L 30 0 L 0 0 Z" stroke-width="0"></path> <path fill="rgba(35, 39, 42, 1)" d="M 29 46 C 71 46 29 250 71 250 L 71 250 L 71 0 L 29 0 Z" stroke-width="0"></path><path fill="rgba(35, 39, 42, 1)" d="M 70 250 C 96 250 70 26 96 26 L 96 26 L 96 0 L 70 0 Z" stroke-width="0"></path><path fill="rgba(35, 39, 42, 1)" d="M 95 26 C 135 26 95 187 135 187 L 135 187 L 135 0 L 95 0 Z" stroke-width="0"></path><path fill="rgba(35, 39, 42, 1)" d="M 134 187 C 169 187 134 103 169 103 L 169 103 L 169 0 L 134 0 Z" stroke-width="0"></path><path fill="rgba(35, 39, 42, 1)" d="M 168 103 C 207 103 168 206 207 206 L 207 206 L 207 0 L 168 0 Z" stroke-width="0"></path><path fill="rgba(35, 39, 42, 1)" d="M 206 206 C 228 206 206 97 228 97 L 228 97 L 228 0 L 206 0 Z" stroke-width="0"></path><path fill="rgba(35, 39, 42, 1)" d="M 227 97 C 263 97 227 169 263 169 L 263 169 L 263 0 L 227 0 Z" stroke-width="0"></path><path fill="rgba(35, 39, 42, 1)" d="M 262 169 C 293 169 262 9 293 9 L 293 9 L 293 0 L 262 0 Z" stroke-width="0"></path><path fill="rgba(35, 39, 42, 1)" d="M 292 9 C 309 9 292 217 309 217 L 309 217 L 309 0 L 292 0 Z" stroke-width="0"></path><path fill="rgba(35, 39, 42, 1)" d="M 308 217 C 347 217 308 86 347 86 L 347 86 L 347 0 L 308 0 Z" stroke-width="0"></path><path fill="rgba(35, 39, 42, 1)" d="M 346 86 C 373 86 346 154 373 154 L 373 154 L 373 0 L 346 0 Z" stroke-width="0"></path><path fill="rgba(35, 39, 42, 1)" d="M 372 154 C 405 154 372 105 405 105 L 405 105 L 405 0 L 372 0 Z" stroke-width="0"></path><path fill="rgba(35, 39, 42, 1)" d="M 404 105 C 425 105 404 312 425 312 L 425 312 L 425 0 L 404 0 Z" stroke-width="0"></path><path fill="rgba(35, 39, 42, 1)" d="M 424 312 C 468 312 424 93 468 93 L 468 93 L 468 0 L 424 0 Z" stroke-width="0"></path><path fill="rgba(35, 39, 42, 1)" d="M 467 93 C 489 93 467 197 489 197 L 489 197 L 489 0 L 467 0 Z" stroke-width="0"></path><path fill="rgba(35, 39, 42, 1)" d="M 488 197 C 526 197 488 106 526 106 L 526 106 L 526 0 L 488 0 Z" stroke-width="0"></path><path fill="rgba(35, 39, 42, 1)" d="M 525 106 C 552 106 525 250 552 250 L 552 250 L 552 0 L 525 0 Z" stroke-width="0"></path><path fill="rgba(35, 39, 42, 1)" d="M 551 250 C 583 250 551 69 583 69 L 583 69 L 583 0 L 551 0 Z" stroke-width="0"></path><path fill="rgba(35, 39, 42, 1)" d="M 582 69 C 614 69 582 215 614 215 L 614 215 L 614 0 L 582 0 Z" stroke-width="0"></path><path fill="rgba(35, 39, 42, 1)" d="M 613 215 C 642 215 613 49 642 49 L 642 49 L 642 0 L 613 0 Z" stroke-width="0"></path><path fill="rgba(35, 39, 42, 1)" d="M 641 49 C 674 49 641 157 674 157 L 674 157 L 674 0 L 641 0 Z" stroke-width="0"></path><path fill="rgba(35, 39, 42, 1)" d="M 673 157 C 699 157 673 87 699 87 L 699 87 L 699 0 L 673 0 Z" stroke-width="0"></path><path fill="rgba(35, 39, 42, 1)" d="M 698 87 C 734 87 698 210 734 210 L 734 210 L 734 0 L 698 0 Z" stroke-width="0"></path><path fill="rgba(35, 39, 42, 1)" d="M 733 210 C 751 210 733 65 751 65 L 751 65 L 751 0 L 733 0 Z" stroke-width="0"></path><path fill="rgba(35, 39, 42, 1)" d="M 750 65 C 800 65 750 145 800 145 L 800 145 L 800 0 L 750 0 Z" stroke-width="0"></path><path fill="rgba(35, 39, 42, 1)" d="M 799 145 C 820 145 799 49 820 49 L 820 49 L 820 0 L 799 0 Z" stroke-width="0"></path><path fill="rgba(35, 39, 42, 1)" d="M 819 49 C 851 49 819 131 851 131 L 851 131 L 851 0 L 819 0 Z" stroke-width="0"></path><path fill="rgba(35, 39, 42, 1)" d="M 850 131 C 897 131 850 217 897 217 L 897 217 L 897 0 L 850 0 Z" stroke-width="0"></path><path fill="rgba(35, 39, 42, 1)" d="M 896 217 C 914 217 896 51 914 51 L 914 51 L 914 0 L 896 0 Z" stroke-width="0"></path><path fill="rgba(35, 39, 42, 1)" d="M 913 51 C 948 51 913 123 948 123 L 948 123 L 948 0 L 913 0 Z" stroke-width="0"></path><path fill="rgba(35, 39, 42, 1)" d="M 947 123 C 977 123 947 13 977 13 L 977 13 L 977 0 L 947 0 Z" stroke-width="0"></path><path fill="rgba(35, 39, 42, 1)" d="M 976 13 C 1010 13 976 264 1010 264 L 1010 264 L 1010 0 L 976 0 Z" stroke-width="0"></path><path fill="rgba(35, 39, 42, 1)" d="M 1009 264 C 1035 264 1009 115 1035 115 L 1035 115 L 1035 0 L 1009 0 Z" stroke-width="0"></path><path fill="rgba(35, 39, 42, 1)" d="M 1034 115 C 1065 115 1034 64 1065 64 L 1065 64 L 1065 0 L 1034 0 Z" stroke-width="0"></path><path fill="rgba(35, 39, 42, 1)" d="M 1064 64 C 1092 64 1064 183 1092 183 L 1092 183 L 1092 0 L 1064 0 Z" stroke-width="0"></path><path fill="rgba(35, 39, 42, 1)" d="M 1091 183 C 1135 183 1091 106 1135 106 L 1135 106 L 1135 0 L 1091 0 Z" stroke-width="0"></path><path fill="rgba(35, 39, 42, 1)" d="M 1134 106 C 1161 106 1134 178 1161 178 L 1161 178 L 1161 0 L 1134 0 Z" stroke-width="0"></path><path fill="rgba(35, 39, 42, 1)" d="M 1160 178 C 1199 178 1160 69 1199 69 L 1199 69 L 1199 0 L 1160 0 Z" stroke-width="0"></path><path fill="rgba(35, 39, 42, 1)" d="M 1198 69 C 1220 69 1198 238 1220 238 L 1220 238 L 1220 0 L 1198 0 Z" stroke-width="0"></path><path fill="rgba(35, 39, 42, 1)" d="M 1219 238 C 1267 238 1219 133 1267 133 L 1267 133 L 1267 0 L 1219 0 Z" stroke-width="0"></path><path fill="rgba(35, 39, 42, 1)" d="M 1266 133 C 1300 133 1266 63 1300 63 L 1300 63 L 1300 0 L 1266 0 Z" stroke-width="0"></path><path fill="rgba(35, 39, 42, 1)" d="M 1299 63 C 1322 63 1299 218 1322 218 L 1322 218 L 1322 0 L 1299 0 Z" stroke-width="0"></path><path fill="rgba(35, 39, 42, 1)" d="M 1321 218 C 1366 218 1321 50 1366 50 L 1366 50 L 1366 0 L 1321 0 Z" stroke-width="0"></path></svg>');
}

.bodyprem {
  margin: 0;
	padding: 0;
	background-color: #2C2F33;
  background-size: 1365px;
  background-position-y: 80px;
  /*background-position-x: -60px;*/
  background-repeat: no-repeat;
  background-image: url('data:image/svg+xml;utf8,<svg viewBox="0 0 1366 258" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"><path fill="rgba(35, 39, 42, 1)" d="M 0 55 L -3 261 L -3 0 L 0 0 Z" stroke-width="0"></path> <path fill="rgba(35, 39, 42, 1)" d="M -4 261 L 680 38 L 680 0 L -4 0 Z" stroke-width="0"></path> <path fill="rgba(35, 39, 42, 1)" d="M 679 38 L 1367 259 L 1367 0 L 679 0 Z" stroke-width="0"></path><path fill="rgba(35, 39, 42, 1)" d="M 1366 259 L 1366 0 L 1366 0 L 1366 0 Z" stroke-width="0"></path></svg>');
  }

body {
	margin: 0;
	padding: 0;
	background-color: #2C2F33;
}

body, h1, h2, h3, h4, h5, h6, p, footer, header, head {
	font-family: "Open Sans", sans-serif, Helvetica, arial, sans-serif;
}

.logo {
  padding-top: 11px;
  padding-bottom: 6px;
  width: 180px;
}

.logoimg {
  background-image: url("img/exotic banner logo green.png");
  background-size: 180px;
  height: 70px;
  width: 180px;
  background-repeat: no-repeat;
  margin-top: 10px;
  margin-bottom: 0px;
}

.logoimg:hover {
  background-image: url("img/exotic banner logo green.png");
  background-size: 181px;
}

.fixtext {
	margin-left: 20%;
	margin-right: 20%;
}

header {
  background-color: #2C2F33;
  position: fixed;
  width: 100%;
}

h1 {
	font-family: arial, helvetica, sans-serif;
}

.footer, footer {
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: #23272A;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  bottom: 0;
  position: fixed;
  width: 100%;
}

.footerPrem {
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: #23272A;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  /*position: fixed;*/
  bottom: 0px;
  width: 100%;
}

.footerHome {
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: #23272A;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  bottom: 0;
  width: 100%;
}

.footerTos {
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: #23272A;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
}

.tos {
  font-size: 15pt;
  color: white;
  padding-left: 10%;
  padding-top: 0;
  width: 80%;
  text-align: left;
}

.ulTos {
  font-size: 15pt;
  color: white;
  padding-left: 15%;
  padding-bottom: 0;
  width: 15%;
  text-align: left;
}

table, th, td {
  border: 1px solid white;
  border-collapse: collapse;
	text-align: left;
	margin-left: auto;
  margin-right: auto;
	font-size: 25px;
	padding: 10px 10px;
}

.premiumfeatures {
  width: 75%;
  border-width: 5px;
  color: white;
}

.catagory {
	color: white;
}

h4 {
	color: darkgray;
}

.linefetures {
	border: 1px solid #63d681;
	width: 1000px;
	margin-left: auto;
	margin-right: auto;
}

.white {
	background-color: darkgrey;
}

.green {
	background-color: #4fa967;
}

.home {
	color: darkgrey;
	background: none;
	border: 0px solid #333333;
	cursor: pointer;
}

.info {
  margin-bottom: 80px;
}

.main {
	text-align: center;
	font-size: 40px;
  font-family: Arial, Helvetica,sans-serif;
}

.mainhead {
	color: white;
  font-family: Arial, Helvetica, sans-serif;
	padding-top: 50px;
	font: bold;
	margin-left: 0px;
  margin-right: auto;
}

.premhead {
	color: white;
  font-family: Arial, Helvetica, sans-serif;
	font: bold;
	margin-left: 0px;
  margin-right: auto;
}

.mainparagraph {
	color: lightgray;
  font-family: helvetica;
	margin-top: -20px;
	font-size: 30px;
	margin-left: 100px;
  margin-right: 100px;
}

.paragraph {
  color: white;
  font-size: 20px;
  margin: 10px;
  width: 90%;
  text-align: center;
  margin-left: 5%;
}

a:link {
  color: white;
}

a:visited {
  color: whitesmoke;
}

a:hover {
  color: #63d681;
}

.tbar {
	color: darkgrey;
	padding-left: 30px;
	font-weight: bold;
	background-color: #23272A;
	padding-top: 1px;
	padding-bottom: 1px;
	font-size: 20px;
	font-family: Serif, Georgia;
	letter-spacing: 1px;
}

.shadow {
width:100%;
background-image: linear-gradient( #23272A89, transparent);
height:10px;
}

.bottomshadow {
width:100%;
background-image: linear-gradient( transparent, #23272A89);
height:10px;
}

.sticky + .main {
  padding-top: 83px;
}

.navbar {
  /*background-color: #23272A;*/
}

.navLinks {
	text-align: right;
	padding-top: 6px;
  padding-bottom: 4px;
  padding-left: 100px;
	margin-top: -85px;
  /*margin-bottom: 15px;*/
	margin-left : 150px;
}

.btn {
	border: 1px solid darkgray;
	background: none;
	padding: 10px 10px;
	font-size: 20px;
	font-family: Arial, Helvetica, sans-serif;
	cursor: pointer;
	margin-left: 10px;
	margin-right: 10px;
	transition: 0.5s;
	user-select: none;
	border-radius: 5px;
}

.btnprivacy, .btncontact {
	border: 0px solid darkgray;
	background: none;
	padding: 10px 10px;
	font-size: 20px;
	font-family: Arial, Helvetica, sans-serif;
	cursor: pointer;
	margin-left: 10px;
	margin-right: 10px;
	transition: 0.5s;
	user-select: none;
	color: darkgray;
}

.btnmain {
	font-size: 40px;
  y: center;
}

.cmdlis {
	text-align: center;
}

tr.free, td.free {
  background-color:#23272A;
}

tr.premium, td.premium {
  background-color: #63d681;
}

td {
  height: 50px;
  border-bottom-width: 3px;
}

#table {
  width: 80%;
  color: white;
  border-radius: 10px;
  border-collapse: collapse;
  overflow: hidden;
  border-color: #2C2F33;
  border-width: 2px;
} 

.mcl {
	margin-top: 100px;
	text-align: center;
	font-size: 70px;
	font-weight: bold;
	color: #97d5a8;
}

.btnmod, .btnuti, .btnsea, .btneco, .btnfun {
	text-align: center;
	margin-bottom: 20px;
}

.btncom, .btnsup, .btninv, .btnprem, .btfqa, .btadd, .home, .btnmod, .btnuti, .btnsea, .btneco, .btnfun, .prbtn{
	color: darkgray;
}

.btadd {
  background-color: #7289DA;
  color: white;
  border-color: #7289DA;
}

.btcmd {
  background-color: #63d681;
  color: white;
  border-color: #63d681;
}

.btncom:hover, .btnsup:hover, .btninv:hover, .btnprem:hover, .btfqa:hover, .btnmod:hover, .btnuti:hover, .btnsea:hover, .btneco:hover, .btnfun:hover, .btnpaylife:hover, .btnpaymonth:hover, .btnpayyear:hover, .prbtn:hover {
	color: #63d681;
	border: 1px solid #63d681;
}

.btadd:hover {
  color: lightgray;
  border: 1px solid lightgray;
}

.btcmd:hover {
  color: lightgray;
  border: 1px solid lightgray;
}

.home:hover, .btnprivacy:hover, .btncontact:hover {
	color: #63d681;
}

.sbtncmd, .sbtnprem, .sbtnfaq {
	color: #63d681;
	border: 1px solid #63d681;
}

.btncurrent {
  color: #63d681;
	border: 1px solid #63d681;
}

.shome {
	color: #63d681;
}

.features {
  padding-top: 25px;
}

.feature {
  padding-bottom: 50px;
  /*display: -webkit-flex;*/
  display: flex;
}

.featurepic {
  /*flex: 100%;*/
  margin-right: 100px;
}

.featureinfoleft {
  margin-left: 100px;
}

.featurepicleft {
  /*flex: 100%;*/
  margin-left: 100px;
}

.featurehead {
  color: white;
}

.filler {
  height: 50px;
}

.line {
	border: 1px solid #63d681;
	width: 75%;
	margin-left: auto;
  margin-right: auto;
  
}

.homeline {
  margin-bottom: 35px;
}

.homeline2 {
  margin-bottom: 15px;
}

.formatline {
	margin-top: 100px
}

.specialhead {
	color: white;
}

.smallline {
	border: 1px solid #63d681;
	width: 300px;
	margin-left: auto;
  margin-right: auto;
	margin-top: -30px;
}

.premiumbox {
	border: 2px solid darkgrey;
	border-radius: 5px;
	width: 400px;
	height: 400px;
	cursor: pointer;
	transition: 0.5s;
	color: darkgray;
	margin-top: 20px;
  display: inline-block;
	margin-left: 5px;
	margin-right: 5px;
}

.premiumbox2 {
	border: 2px solid darkgrey;
	border-radius: 5px;
	width: 400px;
	height: 400px;
	cursor: pointer;
	transition: 0.5s;
	color: darkgray;
	margin-top: 90px;
  display: inline-block;
	margin-left: 5px;
	margin-right: 5px;
}

.sale {
  background-image: url("Premium Sale.png");
  background-size: 500px;
  background-position-x: 402px;
}

.small {
  font-size: 35px;
}

.small2 {
  font-size: 12px;
}

.premiumhead {
  font-size: 50px;
}

#premlink {
  color: darkgray;
  text-decoration: none;
  transition: 0.5s;
}

#premlink:visited {
  color: darkgray;
}

#premlink:hover {
	color:#63d681;
  transition: 0.5s;
}

.lifetimehead {
	font-size: 50px;
	cursor: pointer;
}

.boxline {
	border: 1px solid darkgray;
	width: 155px;
	margin-left: 125px;
  margin-right: auto;
	margin-top: -25px;
	cursor: pointer;
}

.boxlinebotm {
	border: 1px solid darkgray;
	width: 155px;
	margin-left: 125px;
  margin-right: auto;
	margin-top: -90px;
	cursor: pointer;
}

.boxlinebotmsale {
	border: 1px solid darkgray;
	width: 155px;
	margin-left: 125px;
  margin-right: auto;
	margin-top: -110px;
	cursor: pointer;
}

.specialbottom {
	margin-top: -135px;
}

.lifetimeamu {
	font-size: 45px;
	margin-top: 4px;
	cursor: pointer;
}

.lifetimepaytyp {
	font-size: 20px;
	margin-top: -40px;
	cursor: pointer;
}

.btnpaylife {
	color: darkgrey;
	font-size: 30px;
	cursor: pointer;
}

.paypalicon, bitcoinicon {
	margin-top: 60px;
	cursor: pointer;
}

.yearlyhead {
	font-size: 50px;
	cursor: pointer;
}

.yearlyamu {
	font-size: 45px;
	margin-top: 4px;
	cursor: pointer;
}

.yearlypaytyp {
	font-size: 20px;
	margin-top: -40px;
	cursor: pointer;
}

.btnpayyear {
	color: darkgrey;
	font-size: 30px;
	cursor: pointer;
}

.monthlyhead {
	font-size: 50px;
	cursor: pointer;
}

.monthlyamu {
	font-size: 45px;
	margin-top: 4px;
	cursor: pointer;
}

.monthlypaytyp {
	font-size: 20px;
	margin-top: -40px;
	cursor: pointer;
}

.btnpaymonth {
	color: darkgrey;
	font-size: 30px;
	cursor: pointer;
}

.planhead {
	font-size: 50px;
	cursor: pointer;
}

.planamu {
	font-size: 50px;
	margin-top: 4px;
	cursor: pointer;
}

.planpaytyp {
	font-size: 20px;
	margin-top: -40px;
	cursor: pointer;
}

.btnpayplan {
	color: darkgrey;
	font-size: 30px;
	cursor: pointer;
}

.specialoffer {
	cursor:	pointer;
	border: 1px sold #63d681;
	border-radius: 1px;
	color: #63d681;
}

.premiumbox:hover {
	border: 2px solid #63d681;
	color:#63d681;
}

.collapsible {
  background-color: #63d681;
  color: #444;
  cursor: pointer;
  padding: 18px;
  width: 90%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 25px;
}

.active, .collapsible:hover {
  background-color: #63d681;
}

.content {
  padding: 0 18px;
  background-color: #52af6b;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
  font-size: 20px;
}

.collapsible:after {
	content: '\02795';
	font-size: 20px;
	color: #52af6b;
	float: right;
	margin-left: 5px;
}

.active:after {
  content: "\2796";
}

.alert {
  padding: 20px;
  background-color: #f44336;
  color: white;
  margin-bottom: 15px;
  opacity: 1;
  transition: opacity 0.6s;
}

.warning {
  padding: 20px;
  background-color: #f7bc28;
  color: white;
  margin-bottom: 15px;
  opacity: 1;
  transition: opacity 0.6s;
}

.closebtn {
  margin-left: 15px;
  color: white;
  font-weight: bold;
  float: right;
  font-size: 22px;
  line-height: 20px;
  cursor: pointer;
  transition: 0.3s;
}

.closebtn:hover {
  color: black;
}

#topBtn {
  display: none; 
  position: fixed;
  bottom: 20px; 
  right: 30px; 
  z-index: 99; 
  border: none; 
  outline: none;
  background-color: #63d681; 
  color: white; 
  cursor: pointer; 
  padding: 15px; 
  border-radius: 10px; 
  font-size: 18px; 
}

#topBtn:hover {
  background-color: #555; 
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}


.right {
	text-align: right;
	float: right;
}

.prbtn {
	border-radius: 60px;
}

::-webkit-scrollbar {
  width: 10px;
}


::-webkit-scrollbar-track {
  background: #23272A;
}

::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}
